<div class="game-container">
<section class="games-list">
    <% games.forEach(game => { %>
        <div class="game-item">
            <h2><a href="/game/<%= game.id %>"><%= game.title %></a></h2>
            <img src="<%= game.image %>" alt="<%= game.title %>" class="game-image">
            <p>Released: <%= game.releaseYear %></p>
            <p>Rating: <%= game.averageRating %>/10</p>
        </div>
    <% }) %>
</section>

<script src="/script.js"></script>

</div>