<div class="game-container">
<div class="games-list">
    <% topGames.forEach(game => { %>
        <div class="game-item">
            <h2 class="game-title"><a href="/game/<%= game.id %>"><%= game.title %></a></h2>
            <img src="<%= game.image %>" alt="<%= game.title %>" class="game-image">
            <div class="game-info">
            <p>Released: <%= game.releaseYear %></p>
            <p>Rating: <%= game.averageRating %>/10</p>
            <p><%= game.description %></p> 
            </div>
        </div>
    <% }) %>
</div>
</div>